<div class="cf">
    <div class="fl w-100 w-50-ns pv3-ns pv0">
        <article class="mw6 center bg-white br1 pv2 pv4-ns ph2 ph4-ns mt3-ns ba-ns b--black-10">
            <div class="tc">
                <div class="dib ma0">
                    <svg class="h3 w3 dib" fill="#000000" version="1.1" style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;" viewBox="0 0 10000 10000" x="0px" y="0px" fill-rule="evenodd" clip-rule="evenodd"><g><path d="M3150 4606l789 0 0 788 -789 0 0 -788zm1454 0l789 0 0 788 -789 0 0 -788zm1455 0l789 0 0 788 -789 0 0 -788zm3441 -4106l0 9000 -9000 0 0 -9000 9000 0zm-493 493l-8014 0 0 8014 8014 0 0 -8014z"></path></g></svg>
                    <h2 class="f6 gray">
                        <a href="/" class="link gray">Borges</a>
                    </h2>
                </div>
                <hr class="mw3 bb bw1 b--black-10">
            </div>
            <div class="pv1 tl mt2">
                    <dl class="f6 lh-title mv2">
                        <dt class="dib gray ttl">Location:</dt>
                        <dd class="dib ml0 ttl">San Francisco</dd>
                    </dl>
                    <dl class="f6 lh-title mv2">
                        <dt class="dib gray ttl">Twitter:</dt>
                        <dd class="dib ml0 ttl">
                            <a class="link black" href="https://twitter.com/@borges_ai">@borges_ai</a>
                        </dd>
                    </dl>
            </div>
        </article>

    </div>
    <div class="fl w-100 w-50-ns pv3-ns pv0">
        <article class="mt3-ns ph2 ph4-ns">
            <section class="">
                <h2 class="f7 gray ttu b">changelog</h2>
                <ul class="list lh-copy measure f5 pl0">
                    <li class="mb2">
                        <h4 class="f5 mt0 mb1">2020-02-20</h4>
                        <p class="ma0">Fix issue with importing book titles in the wrong language.</p>
                    </li>
                    <li class="mb2">
                        <h4 class="f5 mt0 mb1">2020-02-18</h4>
                        <p class="ma0">Connect Dropbox account.</p>
                        <p class="ma0">Sync your data as markdown files into Dropbox folder.</p>
                    </li>
                    <li class="mb2">
                        <h4 class="f5 mt0 mb1">2020-02-17</h4>
                        <p class="ma0">Add support for Twitter Cards.</p>
                        <p class="ma0">Add book to your library from someone else review.</p>
                    </li>
                    <li class="mb2">
                        <h4 class="f5 mt0 mb1">2020-02-16</h4>
                        <p class="ma0">Improve charts rendering on mobile.</p>
                        <p class="ma0">Improve layout for user's book page and settings.</p>
                    </li>
                    <li class="mb2">
                        <h4 class="f5 mt0 mb1">2020-02-15</h4>
                        <p class="ma0">Add reviews count to the user's page.</p>
                        <p class="ma0">Add ability to enable/disable auto sync to Goodreads.</p>
                    </li>
                    <li class="mb2">
                        <h4 class="f5 mt0 mb1">2020-02-14</h4>
                        <p class="ma0">Improve charts layout on mobile.</p>
                        <p class="ma0">Improve look of book pages with missing information.</p>
                    </li>
                    <li class="mb2">
                        <h4 class="f5 mt0 mb1">2020-02-09</h4>
                        <p class="ma0">Improvements for the mobile layout.</p>
                    </li>
                    <li class="mb2">
                        <h4 class="f5 mt0 mb1">2020-02-08</h4>
                        <p class="ma0">Fixed an issue with goodreads sign up.</p>
                    </li>
                    <li class="mb2">
                        <h4 class="f5 mt0 mb1">2020-02-07</h4>
                        <p class="ma0">Released charts. See an <a class="blue link" href="https://borges.ai/@podviaznikov/charts">example</a>.</p>
                    </li>
                    <li class="mb2">
                        <h4 class="f5 mt0 mb1">2020-02-06</h4>
                        <p class="ma0">First full real <a class="blue link" href="https://borges.ai/@podviaznikov">site</a> is up.</p>
                    </li>
                    <li class="mb2">
                        <h4 class="f5 mt0 mb1">2020-02-05</h4>
                        <p class="ma0">Everyone can sign up either using Twitter or Goodreads account.</p>
                        <p class="ma0">Also our <a class="blue link" href="https://twitter.com/@borges_ai">Twitter account</a> is live.</p>
                    </li>
                    <li class="mb2">
                        <h4 class="f5 mt0 mb1">2020-02-02</h4>
                        <p class="ma0">We launched. Let the journey begin on this special day.</p>
                    </li>
                </ul>
            </section>
        </article>
    </div>
</div>