<div class="cf">
    <div class="fl w-100 w-50-ns pv3-ns pv0">
        <article class="mw6 center bg-white br1 pv2 pv4-ns ph2 ph4-ns mt3-ns ba-ns b--black-10">
            <div class="tc">
                <div class="dib ma0">
                    <svg class="h3 w3 dib" fill="#000000" version="1.1" style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;" viewBox="0 0 10000 10000" x="0px" y="0px" fill-rule="evenodd" clip-rule="evenodd"><g><path d="M3150 4606l789 0 0 788 -789 0 0 -788zm1454 0l789 0 0 788 -789 0 0 -788zm1455 0l789 0 0 788 -789 0 0 -788zm3441 -4106l0 9000 -9000 0 0 -9000 9000 0zm-493 493l-8014 0 0 8014 8014 0 0 -8014z"></path></g></svg>
                    <h2 class="f6 gray">
                        <a href="/" class="link gray">Borges</a>
                    </h2>
                </div>
                <hr class="mw3 bb bw1 b--black-10">
            </div>
            <div class="pv1 tl mt2">
                <dl class="f6 lh-title mv2">
                    <dt class="dib gray ttl">Location:</dt>
                    <dd class="dib ml0 ttl">San Francisco</dd>
                </dl>
                <dl class="f6 lh-title mv2">
                    <dt class="dib gray ttl">Twitter:</dt>
                    <dd class="dib ml0 ttl">
                        <a class="link black" href="https://twitter.com/@borges_ai">@borges_ai</a>
                    </dd>
                </dl>
            </div>
        </article>

    </div>
    <div class="fl w-100 w-50-ns pv3-ns pv0">
        <article class="mt3-ns ph2 ph4-ns">
            <section class="">
                <h2 class="f7 gray ttu b">news</h2>
                <article class="lh-copy measure f5" itemprop="articleBody">
                    <p>Something bad happened:(</p>
                    <a class="blue link" href="https://borges.ai">Go back!</a>
                </article>
            </section>
        </article>
    </div>
</div>
