<div class="cf">
    <div class="fl w-100 w-50-ns pv3-ns pv0">
        <article itemscope itemtype="http://schema.org/Person" class="mw6 center bg-white br1 pv2 pv4-ns ph2 ph4-ns mt3-ns ba-ns b--black-10">
            <div class="tc">
                <div class="dib ma0">
                    <svg itemprop="image" class="br-100 h3 w3 dib" xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
                         style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                         viewBox="0 0 36 36">
                        <g id="logo">
                            <circle fill="black" style="stroke-width:0;stroke-miterlimit:10;" cx="18" cy="18" r="18"/>
                            <text x="50%" y="50%" fill="white" text-anchor="middle" font-family="baskerville,serif"
                                  font-size="14px" stroke-width="0px" dy=".3em"
                                  style="text-transform:lowercase">{{.Profile.AbbreviatedName}}</text>
                        </g>
                    </svg>
                    <h2 class="f6 gray">
                        <a href="/@{{.Profile.Username}}" class="link gray" itemprop="name">{{.Profile.Name}}</a>
                    </h2>
                </div>
                <hr class="mw3 bb bw1 b--black-10">
            </div>

            <div class="pv1 tl mt2">
                {{if .Profile.TwitterLocation}}
                    <dl class="f6 lh-title mv2">
                        <dt class="dib gray ttl">Location:</dt>
                        <dd class="dib ml0 ttl">{{.Profile.TwitterLocation}}</dd>
                    </dl>
                {{end}}
                {{if .Profile.WebsiteURL}}
                    <dl class="f6 lh-title mv2">
                        <dt class="dib gray ttl">URL:</dt>
                        <dd class="dib ml0 ttl">
                            <a class="link black" href="{{.Profile.WebsiteURL}}">{{.Profile.WebsiteURL}}</a>
                        </dd>
                    </dl>
                {{end}}
                {{if .Profile.TwitterID}}
                    <dl class="f6 lh-title mv2">
                        <dt class="dib gray ttl">Twitter:</dt>
                        <dd class="dib ml0 ttl">
                            <a class="link black" href="https://twitter.com/@{{.Profile.Username}}">@{{.Profile.Username}}</a>
                        </dd>
                    </dl>
                {{end}}
            </div>
        </article>
    </div>
    <div class="fl w-100 w-50-ns pv3-ns pv0">
        <article class="mt3-ns ph2 ph4-ns">
            <section class="">
                <nav class="mb2">
                    <a class="f6 no-underline hover-dark-blue dib ttl mr2 mr1-ns{{if eq .Submenu `read`}} dark-blue{{else}} blue{{end}}"
                       title="Read" href="/@{{.Profile.Username}}">Read</a>
                    <a class="f6 no-underline hover-dark-blue dib ttl mr2 mr1-ns{{if eq .Submenu `reading`}} dark-blue{{else}} blue{{end}}"
                       title="Currently reading" href="/@{{.Profile.Username}}/reading">Reading</a>
                    <a class="f6 no-underline hover-dark-blue dib ttl mr2 mr1-ns{{if eq .Submenu `to-read`}} dark-blue{{else}} blue{{end}}"
                       title="Want to read" href="/@{{.Profile.Username}}/to-read">Want to read</a>
                    <a class="f6 no-underline hover-dark-blue dib ttl mr2 mr1-ns{{if eq .Submenu `best`}} dark-blue{{else}} blue{{end}}"
                       title="Best books" href="/@{{.Profile.Username}}/best">Best</a>
                    <a class="f6 no-underline hover-dark-blue dib ttl mr2 mr1-ns{{if eq .Submenu `charts`}} dark-blue{{else}} blue{{end}}"
                       title="Charts" href="/{{if not .IsCustomDomain}}@{{.Profile.Username}}/{{end}}charts">charts</a>
                </nav>
            </section>
            {{ $data := . }}
            <section class="mt3">
                <h2 class="f7 gray ttu b">books by year</h2>
                <ul class="list pl0">
                    {{ range $year, $ind_data :=  .Books }}
                        <li>
                            <span class="dib v-top f6 w2">{{$year}}</span>
                            <span class="dib f6 absolute ml1">{{len $ind_data.Items}}</span>
                            <progress class="w-80" max={{$data.MaxBooks}} value="{{len $ind_data.Items}}">
                            </progress>
                        </li>
                    {{ end}}
                </ul>
            <section class="mt3">
                <h2 class="f7 gray ttu b">pages by year</h2>
                <ul class="list pl0">
                    {{ range $year, $ind_data :=  .Books }}
                        <li>
                            <span class="dib v-top f6 w2">{{$year}}</span>
                            <span class="dib f6 absolute ml1">{{$ind_data.TotalPages}}</span>
                            <progress class="w-80" max={{$data.MaxPages}} value="{{$ind_data.TotalPages}}">
                            </progress>
                        </li>
                    {{ end}}
            </section>
        </article>
    </div>
</div>